<router-outlet></router-outlet>

<div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-primary" id="classChooser" ngbDropdownToggle>Select Class</button>
  <div ngbDropdownMenu aria-labelledby="classChooser">
    <button class="dropdown-item" (click)="selectClass('Warrior')">Warrior</button>
    <button class="dropdown-item" (click)="selectClass('Archer')">Archer</button>
    <button class="dropdown-item" (click)="selectClass('Mage')">Mage</button>
    <button class="dropdown-item" (click)="selectClass('Dragonkin')">Dragonkin</button>
  </div>
</div>
<br />
<div class="btn-group btn-group-toggle" ngbRadioGroup="statGroup">
  <label *ngFor="let statValue of stats" ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="statValue" (click)="selectFamily(selectedClass, statValue)">{{statValue}}
  </label>
</div>
<ngb-tabset>
 <ngb-tab *ngFor="let tab of tabs" [title]="tab">
    <ng-template ngbTabContent>
      <div *ngIf="skillTree[tab]">
        <table>
          <tr *ngFor="let row of skillTree[tab]">
            <td>
              <div *ngIf="row.left" (click)="clickRow(row, row.left, tab)">{{row.left.name}} {{row.left.level ? row.left.level : '0'}} / {{row.left.levels}}</div>
              <div *ngIf=!row.left>&nbsp;</div>
            </td>
            <td>
              <div *ngIf="row.center" (click)="clickRow(row, row.center, tab)">{{row.center.name}} {{row.center.level ? row.center.level : '0'}} / {{row.center.levels}}</div>
              <div *ngIf="!row.center">&nbsp;</div>
            </td>
            <td>
              <div *ngIf="row.right" (click)="clickRow(row, row.right, tab)">{{row.right.name}} {{row.right.level ? row.right.level : '0'}} / {{row.right.levels}}</div>
              <div *ngIf="!row.right">&nbsp;</div>
            </td>
          </tr>
        </table>
      </div>
      <button (click)="reset()">Reset</button>
      <button (click)="link()">Link</button>
      <button (click)="checkRules()">Check Rules</button>
      <button (click)="add()">Add</button>

      <div>
        Total: {{total}}
      </div>
      <div *ngIf="selectedRow && selectedSkill">
        <h1>{{selectedSkill.name}}</h1>
      <div>{{selectedRow.stat}}: {{selectedRow.points}}</div>
      <div>Requires {{selectedRow.spend}} points to be spent.</div>
      <div>{{selectedSkill.level}} / {{selectedSkill.levels}}</div>
      <div>{{selectedSkill.required}}</div>
      <div>{{selectedSkill.stats[selectedSkill.level-1]}}</div>

      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<a *ngIf="linkText" href="{{linkText}}">{{linkText}}</a>

